/* temporary all page styles */
.page {
    text-align: center;
    font-size: 5em;
    /* styling if you do not want items center */
    /* padding-left: 5rem; */
}

/* occurs when light mode is active */
.light {
    /* all text in div pages */
    color:black
}

/* occurs when dark mode is active */
.dark {
    /* all text in div pages */
    color: white
}

/* whole nav bar*/
.side-nav-bar {
    background-color:transparent;
}

/* all icons */
.side-nav-bar-icon {
    font-size: 1.5rem;
}