/* ---Global variables--- */
:root {
    /* dark colors scheme */
    --primary-dark-color: #2D2D34;
    --secondary-dark-color: #7D84B2;
    --secondary-dark-color-container: rgba(125, 132, 178, 0.7);
    --tertiary-dark-color: #fbfff1;
    --tertiary-dark-color-container-shadow:rgba(251, 255, 241, 0.6);
    /* light colors scheme */
    --primary-light-color: #FEF8DD;
    --secondary-light-color: #25CED1;
    --secondary-light-color-container: rgba(37, 206, 209, 0.7);
    --tertiary-light-color: #856d4d;
    --tertiary-light-color-container-shadow:rgba(133, 109, 77, 0.6);
    /* box shadow */
    --box-shadow-format: 0px 5px 10px 0px;
    --box-shadow-dark: var(--box-shadow-format) var(--secondary-dark-color-container);
    --box-shadow-light: var(--box-shadow-format) var(--tertiary-light-color-container-shadow);
    /* portfolio-spacing */
    --portfolio-spacing: 4rem;
    /* button styling */
    --button-radius: 0.5em;
    --button-border: 0.2em solid;
    --button-text-transform: uppercase;
    --button-letter-spacing: 0.1em;
}

/* ---All Pages--- */

/* light mode settings for every page*/
.light {
    color: var(--tertiary-light-color);
}

/* dark mode settings for every page */
.dark {
    color: var(--tertiary-dark-color);
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 1em;
}

.page-title{
    margin: 2rem auto;
}

/* ---Home Page--- */
.home-page{
    display: flex;
    justify-content: center;
    transform: translate(0, 60%);
}

#home-page-word-container{
    display: flex;
    flex-direction: column;
}

#home-page-greeting{
    display: flex;
    justify-content: center;
    font-size: 6rem;
    margin-bottom: 1rem;
}

.home-page-intro-sentence{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.home-page-first-intro-sentence{
    display: flex;
    align-items: center;
}

.my-name-on-home-page{
    margin-left: 0.5rem;
    font-size: 4rem;
}

#home-page-tech-stack{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin: 1rem;
}

.social-media-icon-container{
    display: flex;
    justify-content: center;
}

.social-media-icons{
    padding: 1rem;
    margin: 2rem;
    font-size: 4rem;
    border-radius: 50%;
    /* used for hover animation on social icons */
    position: relative;
    overflow: hidden;
}

/* used for hover animation on social icons */
.social-media-icons span {
    position: absolute;
    width: 25%;
    height: 100%;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}
#social-media-icons-dark span{
    background-color: var(--secondary-dark-color);
}
#social-media-icons-light span{
    background-color: var(--secondary-light-color);
}
.social-media-icons:hover span {
    transform: translateY(0) scale(2);
}
.social-media-icons span:nth-child(1) {
    --n: 1;
}
.social-media-icons span:nth-child(2) {
    --n: 2;
}
.social-media-icons span:nth-child(3) {
    --n: 3;
}
.social-media-icons span:nth-child(4) {
    --n: 4;
}


/* ---Home Page Light--- */
#my-name-on-home-page-light{
    color: var(--secondary-light-color);
}

#social-media-icons-light{
    color: var(--tertiary-light-color);
}

/* ---Home Page Dark--- */
#my-name-on-home-page-dark{
    color: var(--secondary-dark-color);
}
#social-media-icons-dark{
    color: var(--tertiary-dark-color);
}

/* ---Responsive design for home page--- */
@media screen and (max-height: 1100px) {
    .home-page{
        transform: translate(0, 50%);
    }
}

@media screen and (max-height: 940px) {
    .home-page{
        transform: translate(0, 40%);
    }
}

@media screen and (max-height: 850px) {
    .home-page{
        transform: translate(0, 30%);
    }
}

@media screen and (max-height: 730px) {
    .home-page{
        transform: translate(0, 20%);
    }
}

@media screen and (max-height: 730px) {
    .home-page{
        transform: translate(0, 20%);
    }
}

@media screen and (max-height: 700px) {
    .home-page{
        transform: translate(0, 0%);
    }
}

@media screen and (max-width: 740px) {
    .home-page-first-intro-sentence{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 574px) {
    #home-page-greeting{
        font-size: 4rem;
        margin-bottom: 0.5rem;
    }

    .home-page-intro-sentence{
        font-size: 1.9rem;
        margin: 0;
    }

    .my-name-on-home-page{
        font-size: 2.5rem;
        margin:0;
    }

    #home-page-tech-stack{
        font-size: 1rem;
        margin: 0.5rem;
    }

    .social-media-icons{
        padding: 1rem;
        margin: 0.5rem;
        font-size: 3rem;
    }
}

/* iphone SE styling */
@media screen and (max-width: 376px),
(max-height: 667px) {
    .home-page{
        transform: translate(0, 20%);
    }
}
/* ---About Me Page--- */
#about-me-page{
    height: 300vh;
}

.about-me-page-break {
    max-width: 90%;
    opacity: 50;
}

#about-me-page-content-container{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.about-me-section-title{
    margin: 2rem auto;
}

.about-me-picture-headers{
    height: 10rem;
    width: 90%;
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow-format);
    object-fit: cover;
    /* can change for each photo */
    object-position: 10% 70%;
}

.about-me-text-paragraphs{
    max-width: 90%;
}

#about-me-location-content-container{
    display: flex;
    justify-content: center;
    transform: translate(-5%, 0);
}

.location-map {
    height: 20rem;
    width: 50%;
    box-shadow: var(--box-shadow-format);
    margin-right: 3rem;
}

.location-information {
    background-color: var(--primary-dark-color);
    box-shadow: var(--box-shadow-format);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 2rem;
    height: 8rem;
}

/* ---About Me Page Light--- */
#about-me-page-break-light{
    border: 5px solid var(--secondary-light-color);
}

#sub-section-title-light{
    color: var(--secondary-light-color);
}

.about-me-picture-headers-light{
    box-shadow: var(--box-shadow-light);
}

.location-map-light{
    box-shadow: var(--box-shadow-light);
}

.location-information-light {
    background-color: var(--primary-light-color);
    box-shadow: var(--box-shadow-light);
}

/* ---About Me Page Dark--- */
#about-me-page-break-dark{
    border: 5px solid var(--secondary-dark-color);
}

#sub-section-title-dark{
    color: var(--secondary-dark-color);
}

.about-me-picture-headers-dark{
    box-shadow: var(--box-shadow-dark);
}

.location-map-dark{
    box-shadow: var(--box-shadow-dark);
}

.location-information-dark {
    background-color: var(--primary-dark-color);
    box-shadow: var(--box-shadow-dark);
}

/* ---Responsive design for about me page--- */
@media screen and (max-width: 1100px) {
    #about-me-page-content-container{
        max-width: 70%;
    }
}

/* ---Portfolio Page--- */
.portfolio-page{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.portfolio-buttons-container{
    margin-bottom: var(--portfolio-spacing);
}

.portfolio-buttons{
    margin: 1rem;
    border: var(--button-border);
    border-radius: var(--button-radius);
    text-transform: var(--button-text-transform);
    letter-spacing: var(--button-letter-spacing);
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--portfolio-spacing);
}

.single-project {
    height: 400px;
    width: 400px;
    padding: 0.5rem;
}

.project-title {
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.project-images{
    height: 330px;
    width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.hover-project-state{
    text-align: center;
}

/* hides elements on portfolio page */
.hidden-project-state{
    display: none;
}

.project-icons{
    font-size: 6rem;
    margin: 8rem 2rem 2rem;
}

/* ---Portfolio Page Light--- */
.portfolio-buttons-light {
    background-color: var(--secondary-light-color);
    color: var(--tertiary-light-color);
    border-color:var(--tertiary-light-color);
    box-shadow: var(--box-shadow-light);
}

#single-project-light{
    background-color: var(--primary-light-color);
    box-shadow: var(--box-shadow-light);
}

#single-project-light:hover{
    background-image: linear-gradient(45deg, var(--primary-light-color), var(--secondary-light-color) 200%);
}

.icon-link-light{
    color: var(--tertiary-light-color);
}

.icon-link-light:hover{
    color: var(--primary-light-color);
}

/* ---Portfolio Page Dark--- */
.portfolio-buttons-dark {
    background-color: var(--secondary-dark-color);
    color: var(--tertiary-dark-color);
    border-color:var(--tertiary-dark-color);
    box-shadow: var(--box-shadow-dark);
}

#single-project-dark{
    background-color: var(--primary-dark-color);
    box-shadow: var(--box-shadow-dark);
}

#single-project-dark:hover{
    background-image: linear-gradient(45deg, var(--primary-dark-color), var(--secondary-dark-color) 200%);
}

.icon-link-dark{
    color: var(--tertiary-dark-color);
}

.icon-link-dark:hover{
    color: var(--primary-dark-color);
}

/* ---Responsive design for portfolio page--- */
@media screen and (max-width: 2239px) {
    .portfolio-page {
        height: 200vh;
    }
}
/* ---Resume Page--- */
.resume-page{
    display: flex;
    flex-direction: column;
}

.resume-container{
    width:50%;
    height:85vh;
}

/* ---Resume page light--- */
#resume-container-dark{
    background-color: var(--secondary-dark-color-container);
    box-shadow: var(--box-shadow-dark);
}

/* ---Resume page dark--- */
#resume-container-light{
    box-shadow: var(--box-shadow-light);
}

/* ---Connection Page--- */

/* connect page format */
#connect-page {
    display: flex;
    flex-direction: column;
}

.connect-form-layout{
    display: flex;
    flex-direction: column;
    padding: 5rem;
    width: 40%;
    border-radius: 15px;
}

/* all input boxes + submit button */
.connect-form-layout input {
    margin-top: 1rem;
    padding: 1rem;
}

.all-input-boxes {
    border: none;
}

/* formatting for both items in a two row column */
.contact-form-two-box-row-container{
    display:flex;
    flex-wrap: wrap;
}

/* formatting for each item that is in a two row column */
.form-sections{
    display:flex;
    flex-direction: column;
    flex-grow: 2;
    padding: 1rem;
}

#message {
    height: 6rem;
}

/* ---Contact page light--- */
#connect-page-form-light{
    background-color: var(--primary-light-color);
    box-shadow: var(--box-shadow-light);/* ---Resume page light--- */
}

.all-input-boxes-light{
    background-color: var(--primary-light-color);
    border-bottom: 3px solid var(--secondary-light-color);
}

#connect-form-submit-button-light{
    background-color: var(--secondary-light-color);
    color: var(--tertiary-light-color);
    border-color:var(--tertiary-light-color);
    box-shadow: var(--box-shadow-light);
}

#connect-form-submit-button-light span{
    background-color: var(--primary-light-color);
}

/* ---Contact page dark--- */
#connect-page-form-dark{
    background-color: var(--primary-dark-color);
    box-shadow: var(--box-shadow-dark);
}

.all-input-boxes-dark{
    background-color: var(--primary-dark-color);
    border-bottom: 3px solid var(--secondary-dark-color);
}

.connect-form-submit-button{
    border: var(--button-border);
    border-radius: var(--button-radius);
    text-transform: var(--button-text-transform);
    letter-spacing: var(--button-letter-spacing);
    position: relative;
    overflow: hidden;
    width: 50%;
    margin: 4rem auto 2rem
}

#connect-form-submit-button-dark{
    background-color: var(--secondary-dark-color);
    color: var(--tertiary-dark-color);
    border-color:var(--tertiary-dark-color);
    box-shadow: var(--box-shadow-dark);
}

#connect-form-submit-button-dark span{
    background-color: var(--primary-dark-color);
}

.connect-form-submit-button span {
    position: absolute;
    width: 25%;
    height: 100%;
    transform: translateY(150%);
    border-radius:25%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: 0;
}
.connect-form-submit-button:hover span {
    transform: translateY(0) scale(2);
}
.connect-form-submit-button span:nth-child(1) {
    --n: 1;
}
.connect-form-submit-button span:nth-child(2) {
    --n: 2;
}
.connect-form-submit-button span:nth-child(3) {
    --n: 3;
}
.connect-form-submit-button span:nth-child(4) {
    --n: 4;
}

#connect-form-error-message{
    color: red;
    text-align: center;
}

/* ---Responsive design for connect page--- */
@media screen and (max-width: 1695px) {

    #connect-page-title{
        margin-bottom: 2rem;
    }
    
    .connect-form-layout{
        padding: 2rem;
        width: 40%;
    }
}

@media screen and (max-width: 1454px) {
    .connect-form-layout{
        width: 50%;
    }
}

@media screen and (max-width: 1374px) {
    .connect-form-layout{
        width: 60%;
    }
}

@media screen and (max-width: 969px) {
    .connect-form-layout{
        width: 70%;
        padding: 1rem;
    }
} 

/* last query that has the two row format*/
@media screen and (max-width: 969px) {
    .connect-form-layout{
        width: 70%;
        padding: 0.6rem;
    }
} 
