/* ---Global variables--- */
:root {
    --box-shadow-format: 0px 5px 10px 0px;
    /* dark colors scheme */
    --primary-dark-color: #2D2D34;
    --secondary-dark-color: #7D84B2;
    --secondary-dark-color-container: rgba(125, 132, 178, 0.7);
    --tertiary-dark-color: #fbfff1;
    --tertiary-dark-color-container-shadow:rgba(251, 255, 241, 0.6);
    /* light colors scheme */
    --primary-light-color: #FEF8DD;
    --secondary-light-color: #25CED1;
    --secondary-light-color-container: rgba(37, 206, 209, 0.7);
    --tertiary-light-color: #856d4d;
    --tertiary-light-color-container-shadow:rgba(133, 109, 77, 0.6);
}

/* ---All Pages--- */

/* light mode settings for every page*/
.light {
    color: var(--tertiary-light-color);
}

/* dark mode settings for every page */
.dark {
    color: var(--tertiary-dark-color);
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1em;
    /* styling if you do not want items center */
    /* padding-left: 5rem; */
}

/* ---Home Page--- */

.html-tag {
    margin: 0;
}

#home-page-greeting{
    padding: 0;
}

/* ---Connection Page--- */

/* connect page format */
#connect-page {
    display: flex;
    flex-direction: column;
}

#connect-page-title{
    margin-bottom: 6rem;
}

.connect-form-layout{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    width: 40%;
    border-radius: 15px;
}

.connect-form-layout input {
    margin-top: 1rem;
}

/* formatting for both items in a two row column */
.contact-form-two-box-row-container{
    display:flex;
}

/* formatting for each item that is in a two row column */
.contact-form-two-box-row-container-item{
    display:flex;
    flex-direction: column;
    flex-grow: 2;
    padding: 1rem;
}

/* connect form light */
#connect-page-form-light{
    background-color: var(--secondary-light-color-container);
    box-shadow: var(--box-shadow-format) var(--tertiary-light-color-container-shadow);
}

/* connect form dark */
#connect-page-form-dark{
    background-color: var(--secondary-dark-color-container);
    box-shadow: var(--box-shadow-format) var(--tertiary-dark-color-container-shadow);
}

/* Add media styling for form for phones */